@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  font-family: Aeonik;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f4f7;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@layer base {
  @font-face {
    font-family: 'Aeonik';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/font/Aeonik-Regular.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Aeonik';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/font/Aeonik-Medium.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Aeonik';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/font/Aeonik-Bold.ttf) format('truetype');
  }
}
