@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  --sb-track-color: #e4e3e3;
  --sb-thumb-color: #4e5a59;
  --sb-size: 5px;
}

*::-webkit-scrollbar {
  width: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

html,
body {
  font-family: Aeonik;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f4f7;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@layer base {
  @font-face {
    font-family: 'Aeonik';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/font/Aeonik-Regular.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Aeonik';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/font/Aeonik-Medium.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Aeonik';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/font/Aeonik-Bold.ttf) format('truetype');
  }
}
